// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity_index {
  width: 50%;
}

.filter {
  padding: 0 5%;
}

#time_filter_submit {
  padding-top: 2%;
  padding-bottom: 6%;
}

ul {
  padding-bottom: 5%;
  margin-left: 2%;
}

li {
  padding-bottom: 1%;
}

.activity_form {
  width: 60%;
}
.edit_activity {
  text-align: left;
  padding: 5%;
  width: 80%;
}

.new_activity {
  text-align: left;
  padding: 5%;
  width: 80%;
}

#when_table{
  margin-left: 3%;
  padding-top:1%;
}

.activity_show {
  width: 60%;
}

#activity_show_table {
  margin: auto;
  width: 70%;
  padding: 5% 0;
}
