/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html,body {
     background: url('seattle.jpg') no-repeat center center fixed;
     -webkit-background-size: cover; /* For WebKit*/
     -moz-background-size: cover;    /* Mozilla*/
     -o-background-size: cover;      /* Opera*/
     background-size: cover;         /* Generic*/
     color: rgb(81,82,75);
 }

nav {
  background-color: #fff;
  background-color: rgba(253,253,253,0.8);
  width: 22%;
  text-align: center;
  padding: 5px;
  margin: 3%
}

table {
  margin: auto;
  width: 60%;
  padding: 3%;
}

p {
  padding: 3%;
}
