// Place all the styles related to the neighborhoods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
  background-color: #fff;
  background-color: rgba(253,253,253,0.8);
  margin: auto;
}

.neighborhood_index {
  width: 75%;
  text-align: center;
}

.neighborhood_form {
  width: 50%;
}

.edit_neighborhood {
  text-align: left;
  padding: 5%;
  width: 80%;
}

.new_neighborhood {
  text-align: left;
  padding: 5%;
  width: 80%;
}

.neighborhood_show {
  width: 60%;
}

#neighborhood_table {
  margin: auto;
  width: 60%;
  padding: 3%;
}

#activity_table {
  padding: 3%;
  width: 70%;
}

.neighborhood_link_cell {
  width: 30%;
  text-align: left;
}

.edit_button_cell {
  width: 5%;
  text-align: center;
}

.delete_button_cell {
  width: 5%;
  text-align: center;
}

h1 {
  padding: 3%;
  text-align: center;
}

h3 {
  padding: 3% 3% 0% 3%;
}

#add_activity {
  text-align: center;
}
